html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: courier, monospace;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.3em;
}

#container {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

#pikachu {
  width: 150px;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

li a:hover {
  border-bottom: 2px solid blue;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

li a {

  border-bottom: 2px dashed blue;
}

#goal {
  font-size: 1.1em;
  line-height: 1.2em;
  font-style: italic;
}

footer{
  position: fixed;
  bottom: 0;
}
