html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: courier, monospace;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.3em;
}

#title {
  font-size: 1.5em;
  margin: 10px 0;
  display: inline;
}

header img {
display: inline;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

li a:hover, li a:active {
  border-bottom: 2px solid blue;
  font-style: italic;
  color: blue;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  line-height: 1.5em;
}

li a {

  border-bottom: 2px dashed blue;
}

#goal {
  font-size: 1.1em;
  line-height: 1.2em;
  font-style: italic;
}

footer{
  position: fixed;
  bottom: 0;
}
