body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  text-shadow: 2px 2px lightgray;
}

#goal {
  font-size: 1.1em;
  line-height: 1.2em;
  font-style: italic;
}

footer{
  position: fixed;
  bottom: 0;
}
